<!DOCTYPE html>
<html lang="zh">
<head>
  <title>think react isomorphic</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/images/favicon.ico" />
</head>
<body>
  <div id="root"><%- markup %></div>
  <script>
    window.__INITIAL_STATE__ = <%- JSON.stringify(targetState) %>;
  </script>
  <script src="/static/dist:dll/polyfill.dll.js"></script>
  <script src="/static/dist:dll/mario.dll.js"></script>
  <script src="/static/dist:dll/react.dll.js"></script>
  <script src="/static/dist:dll/reactRouter.dll.js"></script>
  <script src="/static/dist/app.bundle.js"></script>
</body>
</html>
